.list {
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__button {
    width: 100px;
    height: 50px;
    margin: 20px 40px;
    border: none;
    background: #265050;
    color: white;
  }
}

.input {
  display: flex;
  justify-content: center;

  &__block {
    height: 30px;
  }
}
