<div class="list">
  <h2 class="title">List {{listType}}</h2>
  <nav class="navigation">
    <button class="navigation__button" [routerLink]="'/books'">Book List</button>
    <button class="navigation__button" [routerLink]="'/characters'">Characters List</button>
    <button class="navigation__button" [routerLink]="'/houses'">Houses List</button>
  </nav>

  <div class="input">
    <input class="input__block" type="text" [formControl]="searchInput" placeholder="Search by name">
  </div>

  <div class="list__container">
    <div *ngFor="let item of (listData$ | async)">
      <ng-container *ngIf="listType === LIST_TYPES.BOOKS">
        <app-book-card [bookDetail]="item">
        </app-book-card>
      </ng-container>

      <ng-container *ngIf="listType === LIST_TYPES.CHARACTERS">
        <app-character-card [characterDetail]="item">
        </app-character-card>
      </ng-container>

      <ng-container *ngIf="listType === LIST_TYPES.HOUSES">
        <app-house-card [houseDetail]="item">
        </app-house-card>
      </ng-container>
    </div>
  </div>
</div>
