<div [class.card]="!isOpenedDetail" [class.card--detail]="isOpenedDetail">
  <div class="card__title">Book</div>
  <div>Name: {{ book.name }}</div>
  <button *ngIf="!isOpenedDetail" class="card__detail-button" [routerLink]="['detail', book.id]">
    Check details
  </button>

  <ng-container *ngIf="isOpenedDetail">
    <div *ngIf="book.country">Country: {{book.country}}</div>
    <div *ngIf="book.publisher">Publisher: {{book.publisher}}</div>
    <div *ngIf="book.isbn">ISBN: {{book.isbn}}</div>
    <div class="favourite">
      <div class="favourite__title" *ngIf="book.isFavourite">Favorite</div>
      <button *ngIf="!book.isFavourite" class="favourite__button" (click)="setFavourite()">Set to favourite</button>
      <button *ngIf="book.isFavourite" class="favourite__button favourite__button--remove" (click)="removeFavourite()">Remove from favourite</button>
    </div>
  </ng-container>
</div>
