<div [class.card]="!isOpenedDetail" [class.card--detail]="isOpenedDetail">
  <div class="card__title">House</div>
  <div>Name: {{ house.name }}</div>
  <button *ngIf="!isOpenedDetail" class="card__detail-button" [routerLink]="['detail', house.id]">
    Check details
  </button>

  <ng-container *ngIf="isOpenedDetail">
    <div>Coat of Arms: {{house.coatOfArms}}</div>
    <div>Region: {{house.region}}</div>
    <div *ngIf="house.seats.length">Seats: <span *ngFor="let seat of house.seats">{{seat}},</span></div>
    <div *ngIf="house.titles.length">Titles: <span *ngFor="let title of house.titles">{{title}},</span></div>
    <div class="favourite">
      <div class="favourite__title" *ngIf="house.isFavourite">Favorite</div>
      <button *ngIf="!house.isFavourite" class="favourite__button" (click)="setFavourite()">Set to favourite</button>
      <button *ngIf="house.isFavourite" class="favourite__button favourite__button--remove" (click)="removeFavourite()">Remove from favourite</button>
    </div>
  </ng-container>
</div>
