:host {
  border-radius: 24px;
  background: white;
  border: 1px solid #c9c6c6;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

.card {
  width: 200px;
  height: 80px;

  &__title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
  }

  &__detail-button {
    background: cornflowerblue;
    border: none;
    color: white;
  }

  &--detail {
    width: auto;
    height: auto;
  }
}

.favourite {
  margin-top: 20px;
  display: flex;

  &__title {
    color: #ec830c;
    margin-right: 10px;
  }

  &__button {
    border: none;
    color: black;
    background: gold;
    padding: 5px;

    &--remove {
      color: white;
      background: #941010;
    }
  }
}
