.wrapper {
  @extend .flex-column-center;
  height: 100vh;
  background-color: #F7F7F7;
}

.submit-button {
  margin-top: 15px;
}

.form {
  &__container {
    @extend .flex-column-center;
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    width: 585px;
  }

  &__footer {
    @extend .flex-column-center;
    margin-top: 38px;
    margin-bottom: 46px;
    text-align: center;
  }

  &__button {
    margin-top: 54px;
    background: none;
    border: none;
    padding: 0;
  }
}

.input {
  width: 100%;
  height: 50px;

  &__wrapper {
    @extend .flex-column-center;
    margin-top: 41px;
    width: 286px;
  }

  &__container {
    width: 100%;
    margin-top: 34px;
  }
  &__error {
    &--text {
      color: red;
    }

    border-color: red;
  }
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: 700;
}

.cursor {
  cursor: pointer;
}
