.landing-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__route-block {
    width: 100px;
    height: 50px;
    margin: 20px 40px;
    border: none;
    background: #265050;
    color: white;
  }
}
