<div class="landing-page">
  <button class="landing-page__route-block" [routerLink]="'/list'">List</button>
  <button class="landing-page__route-block" [routerLink]="'/favourite'">Favourite pages</button>
</div>
