<div class="favourite-pages">
  <div class="favourite-pages__card" *ngFor="let card of (cards$ | async)">
    <div>Type: {{ card.type }}</div>
    <div>Name: {{ card.name || 'Noname'}}</div>
    <button class="favourite-pages__button" [routerLink]="['/', card.type, 'detail', card.id]">Check details</button>
    <button class="favourite-pages__button" (click)="removeFavouritePage(card)">Remove card</button>
  </div>
</div>
