.favourite-pages {
  display: flex;
  flex-wrap: wrap;

  &__card {
    border-radius: 24px;
    background: white;
    border: 1px solid #c9c6c6;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 110px;
  }

  &__button {
    margin: 5px;
  }
}
