<div [class.card]="!isOpenedDetail" [class.card--detail]="isOpenedDetail">
  <div class="card__title">Character</div>
  <div *ngIf="character.id">Name: {{ character.name || 'Noname' }}</div>
  <button *ngIf="!isOpenedDetail" class="card__detail-button" [routerLink]="['detail', character.id]">
    Check details
  </button>

  <ng-container *ngIf="isOpenedDetail">
    <div *ngIf="character.gender">Gender: {{character.gender}}</div>
    <div *ngIf="character.tvSeries.length">TV Series: <span *ngFor="let serie of character.tvSeries">{{serie}},</span></div>
    <div *ngIf="character.playedBy.length">Played by: <span *ngFor="let actor of character.playedBy">{{actor}},</span></div>
    <div class="favourite">
      <div class="favourite__title" *ngIf="character.isFavourite">Favorite</div>
      <button *ngIf="!character.isFavourite" class="favourite__button" (click)="setFavourite()">Set to favourite</button>
      <button *ngIf="character.isFavourite" class="favourite__button favourite__button--remove" (click)="removeFavourite()">Remove from favourite</button>
    </div>
  </ng-container>
</div>
