<div class="wrapper">
  <h2>Login</h2>
  <div class="form__container">
    <form class="input__wrapper" [formGroup]="formGroup">
      <div class="input__container">
        <div class="bold">Email</div>
        <input type="text" placeholder="email" class="input email" formControlName="email">
      </div>

      <div class="input__container">
        <div class="bold">Password</div>
        <input type="text" placeholder="password" class="input password" formControlName="password">
      </div>
      <button class="submit-button" (click)="login()">Login</button>
      <div class="form__footer">
        <div>If you don't have an account you may
          <button class="bold cursor registration" [routerLink]="'/registration'">Registration</button>
        </div>
      </div>
    </form>
  </div>
</div>
