<ng-container *ngIf="listType === LIST_TYPES.BOOKS">
  <app-book-card [bookDetail]="item | async"
                 [isOpenedDetail]="true"
                 (setFavouriteChanged)="addFavouriteCard($event)"
                 (removeFavouriteChanged)="removeFavouriteCard($event)">
  </app-book-card>
</ng-container>

<ng-container *ngIf="listType === LIST_TYPES.CHARACTERS">
  <app-character-card [characterDetail]="item | async"
                      [isOpenedDetail]="true"
                      (setFavouriteChanged)="addFavouriteCard($event)"
                      (removeFavouriteChanged)="removeFavouriteCard($event)">
  </app-character-card>
</ng-container>

<ng-container *ngIf="listType === LIST_TYPES.HOUSES">
  <app-house-card [houseDetail]="item | async"
                  [isOpenedDetail]="true"
                  (setFavouriteChanged)="addFavouriteCard($event)"
                  (removeFavouriteChanged)="removeFavouriteCard($event)">
  </app-house-card>
</ng-container>
