<div class="wrapper">
  <h2>Registration</h2>
  <div class="form__container">
    <form class="input__wrapper" [formGroup]="formGroup">
      <div class="input__container">
        <div class="bold">Email</div>
        <input type="text" placeholder="email" class="input email" formControlName="email">
      </div>

      <div class="input__container">
        <div class="bold">Password</div>
        <input type="text" placeholder="password" class="input password" formControlName="password">
      </div>
      <button class="submit-button" (click)="signUp()">Registration</button>
    </form>
  </div>
</div>
